.container {
}

.row {
    padding-left: 15px;
    padding-right: 15px;

}

p {
    line-height: 25px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #63a8a4;
    font-family: 'Roboto', sans-serif;
}

#header-col {
    background-color: #63a8a4;
}

#nav-col {
    padding: 0px;
}

#bio-title {
}

#connect-title {
    text-align: center;
}

#row-1 {
    background-image: url("../images/sandpaper/sandpaper.png");
}

#col-1 {
}

#col-2 {
    background-color: #ffffff;
}

#col-3 {

}

#col-4 {
    background-color: #ffffff;
}

#profile-pic {
    height: 200px;
    width: 137px;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px
}

#nav-container {
    text-align: center;
    font-size: 10px;
}

#nav-list {
    list-style-type: none;
    display: inline;

}

.navlink {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

#buttons {
width: 100%;
    margin-top: 30px;
}

.socialicon {
    width: 33.33%;
}

#github {
    float: left;
    color: black;
    margin-bottom: 25px;

}

#linked {
    float: left;
    color: red;
    margin-bottom: 25px;

}

#stack {
    float: left;
    color: orange;
    margin-bottom: 25px;
}

#footer-text {
    text-align: center;
}

.hr {
    color: #7B7B7C;
}

@media(min-width:1200px){
    
}

@media(max-width:992px){
    
    
}

@media(max-width:768px){
    
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    #nav-list {
        display: inline-block;
}

@media(max-width: 768px){
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}
